.black-sheep {
    width: 750px;
    margin: 0px auto;
    border: 1px solid #c3c3c3;
    background: #e9e9e9;
}

.bs-1 {
    border-bottom: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.bs-1 b {
    color: var(--color-one)!important;
    font-weight: 900;
}

.bs-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bs2-i {
    width: 270px;
    text-align: center;
}

.bs2-i img {
    width: 150px;
}

.bs2-t {
    width: 450px;
    padding-left: 30px;
    font-family: "Grotesque";
    font-weight: 900;
    font-size: 50px;
    line-height: 43px;
    letter-spacing: -2px;
    color: #000;
    text-transform: uppercase;
}

.bs2-t b {
    color: var(--color-one)!important;
}

.bs-rol .bs2-t b {
    color: var(--group) !important;
}

.bs-rol .bs-1 b {
    color: var(--group) !important;
}

.bs2-t i {
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 13px;
}

.bs-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bs3-pic {
    border: 1px solid #c3c3c3;
    margin: 0px 5px;
}

.bs3p {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 1px 10px;
    color: #000;
}

.bs3p i {
    color: var(--color-two)!important;
    padding-right: 5px;
}

.bs3-pic img {
    width: 165px;
    height: 135px;
}

.bs4-b {
    width: 200px;
}

.bs4-a {
    border: 1px solid #c3c3c3;
    width: 450px;
    padding: 20px;
    text-align: justify;
    height: 300px;
    overflow: auto;
    overflow-x: scroll;
}

.bs4-a b {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--color-one);
    font-size: 17px;
    letter-spacing: -1px;
}

.bs4-1 b {
    text-transform: uppercase;
    color: var(--color-one)!important;
    font-size: 12px;
}

.bs4-1 i {
    color: var(--color-two)!important;
    padding-right: 5px;
}

.bs4-1 {
    border: 1px solid #c3c3c3;
    padding: 15px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.bs2-b {
    border: 1px solid #c3c3c3;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    color: var(--color-one);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    height: 137px;
}

.bs-4 {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-top: -30px;
    margin-bottom: -35px;
}

.bs2-b i {
    font-size: 94px;
    color: var(--color-two) !important;
}

.bs-5 {
    border-top: 1px solid #c3c3c3;
    margin-bottom: -20px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.bs-5 b {
    color: var(--color-one)!important;
    font-weight: 900;
}

.bs-6 {
    margin: 0px 23px;
    border: 1px solid #c3c3c3;
    height: 150px;
    overflow: auto;
    overflow-x: scroll;
    padding: 10px 15px;
}

.dark .black-sheep {
    background: #090909;
    border-color: #2c2c2c;
}

.dark .bs-1 {
    border-color: #2c2c2c;
}

.dark .bs3-pic {
    border-color: #2c2c2c;
}

.dark .bs4-a {
    border-color: #2c2c2c;
}

.dark .bs4-1 {
    border-color: #2c2c2c;
}

.dark .bs2-b {
    border-color: #2c2c2c;
}

.dark .bs-5 {
    border-color: #2c2c2c;
}

.dark .bs3p {
    color: #e8e8e8;
}

.dark .bs2-t {
    color: #fff;
}

.dark .bs-6 {
    border-color: #2c2c2c;
}

.bs2-b img {
    width: 80px;
    height: 80px;
    padding: 10px 0px;
}


/*** POST DE ROL ******/

.bs-rol {
    width: 520px;
    margin: 0px auto;
    background: #e9e9e9;
    border: 1px solid #c3c3c3;
}

.bs-rol .bs-2 {
    padding-top: 30px;
}

.bs-rol .bs2-t {
    font-size: 29px;
    width: 225px;
    line-height: 24px;
}

.bs-rol .bs2-t i {
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
}

.bs-rol .bs2-i {
    width: 195px;
}

.bs-rol .bs2-i img {
    width: 115px;
}

.bs-rol-block {
    display: flex;
    border-top: 1px solid #c3c3c3;
    margin-top: -20px;
    padding: 20px 30px;
    margin-bottom: -20px;
    text-transform: uppercase;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

.bs-rol-block i {
    color: var(--group);
    padding-right: 5px;
}

.bs-rol-block span {
    font-weight: 900;
    color: #000;
}

.dark .bs-rol {
    background: #090909;
    border-color: #2c2c2c;
}

.dark  {
    background: #0e0e0e;
    border-color: #2c2c2c;
}

.dark .bs-rol-block {
    border-color: #2c2c2c;
}

.dark .bs-rol-block span {
    color: #cacaca;
}

.bs-rol-cont {
    border-top: 1px solid #c3c3c3;
    background: #ededed;
    padding: 40px 65px;
    text-align: justify;
}

.bs4-a strong {
    color: var(--color-two);
}


/**** TABLA DE MIEMBROS Y BUSQUEDA ************/


.bs-7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #c3c3c3;
}

.bs7-a {
    width: 250px;
    font-family: "Grotesque";
    text-transform: uppercase;
    font-size: 95px;
    line-height: 68px;
    text-align: justify;
    color: #000;
    padding-left: 20px;
}

.bs7-a b {
    color: var(--color-one) !important;
}

.bs-7 span {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-one);
}

.bs7-b {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-left: 1px solid #c3c3c3;
    padding-left: 15px;
    margin-bottom: 15px;
}

.bs7-b1 b {
    color: var(--color-one);
}

.bs7-b1 {
    width: 100px;
    text-transform: uppercase;
    font-size: 9px;
    text-align: left;
    line-height: 15px;
}

.bs7-b1 span {
    color: #000 !important;
    -webkit-text-stroke: unset;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0px;
}

.bs7-b1 i {
    font-size: 35px;
    color: var(--color-two)!important;
    padding-top: 10px;
    padding-left: 30px;
}

.bs7-b img {
    width: 230px;
    padding-left: 10px;
}

.bs-sep {
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 20px;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -21px;
}

.bs-sep b {
    color: var(--color-two);
    font-weight: 900;
}

.bs-8 {
    border: 1px solid #c3c3c3;
    margin-bottom: 5px;
    margin-top: -15px;
    display: flex;
    align-items: center;
}

.bs8-a {
    width: 170px;
    height: 140px;
    background: #d5d5d5;
    padding-left: 12px;
    padding-top: 60px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 18px;
}

.bs8-a span {
    color: #000;
}

.bs8-a span b {
    color: var(--color-one);
    font-weight: 800;
}

.bs8-a b {
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
}

.bs8-a i {
    color: var(--color-one) !important;
}

.bs8-b {
    background: #d5d5d5;
    width: 176px;
    text-align: right;
    padding: 27px 0px;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.bs8-b span {
    font-size: 40px;
}

.bs8-b i {
    color: var(--color-one);
}

.bs9-m {
    background: #e7e7e7;
    width: 140px;
    height: 170px;
    border: 1px solid #c3c3c3;
}

.bs9-m i {
    position: relative;
    top: 10px;
    left: 10px;
    color: var(--color-two);
}

.bs9m-inf {
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    line-height: 12px;
    position: relative;
    top: 70px;
    text-align: left;
}

.bs9m-inf span {
    font-weight: 800;
    color: #000;
    font-size: 13px;
}

.bs9m-inf b {
    color: var(--color-two);
    font-size: 9px;
}

.bs9m-linea {
    height: 3px;
    width: 20px;
    background: var(--color-two);
    margin-top: 5px;
}

.bs-9 {
    width: 720px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 148px);
    grid-template-rows: repeat(1, 180px);
    justify-content: center;
    justify-items: center;
    margin-top: -15px;
}

.bs-9 br {
    display: none;
}

.bs9-m br {
    display: initial;
}

.bs-10 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bs10-a {
    width: 250px;
    border: 1px solid #c3c3c3;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bs10a-i {
    background: #efefef;
    padding: 20px 10px;
    text-transform: uppercase;
    font-size: 8px;
    line-height: 19px;
    height: 180px;
}

.bs10a-i span {
    color: var(--color-one);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.bs10a-i b {
    color: #000;
    font-size: 11px;
}

.bs10a-i i {
    color: var(--color-one);
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 500;
}

.bs10a-line {
    height: 3px;
    width: 30px;
    background: var(--color-one);
    margin-bottom: 10px;
}

.bs10-b {
    width: 470px;
    margin-left: 6px;
    height: 219px;
    display: -webkit-box;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.bs10b-m {
    width: 125px;
    height: 168px;
    border: 1px solid #c3c3c3;
    padding: 15px;
    background: #efefef;
    padding-top: 20px;
    margin: 0px 2px;
}

.bs10b-m span {
    font-size: 30px;
}

.bs10b-m b {
    color: #000;
}

.bs10m-t {
    height: 90px;
    overflow: auto;
    font-size: 10px;
    line-height: 12px;
    overflow-x: scroll;
    margin-top: 15px;
}

.bs10b-m i {
    color: var(--color-one) !important;
}

.bs10-a img {
    width: 120px;
    height: 218px;
}

.bs-11 {
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.bs11-a {
    padding: 35px 25px;
    font-size: 9px;
    width: 250px;
    line-height: 12px;
    border-right: 1px solid #c3c3c3;
}

.bs11-a b {
    font-family: "Grotesque";
    font-size: 30px;
    color: var(--color-two);
}

.bs11-a i {
    font-family: 'Grotesque';
    font-style: initial;
    font-size: 24px;
}

.bs11-b {
    text-transform: uppercase;
    font-size: 10px;
    padding: 30px 40px;
    border-right: 1px solid #c3c3c3;
}

.bs11-b b {
    font-size: 12px;
    color: var(--color-one);
}

.bs11-b i {
    color: var(--color-two);
    padding-right: 5px;
}

.bs11-c {
    text-align: center;
    width: 200px;
}

.bs11-c b {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 10px;
}

.bs11-c i {
    font-size: 65px;
    color: var(--color-two);
}

.dark .bs7-a {
    color: #fff;
}

.dark .bs7-b {
    border-color: #2c2c2c;
}

.dark .bs7-b1 span {
    color: #fff !important;
}

.dark .bs-7 {
    border-color: #2c2c2c;
}

.dark .bs10-a {
    border-color: #2c2c2c;
}

.dark .bs10a-i {
    background: #000;
}

.dark .bs10a-i b {
    color: #fff;
}

.dark .bs10b-m {
    background: #181818;
    border-color: #2c2c2c;
}

.dark .bs10b-m b {
    color: #dedede;
}

.dark .bs-11 {
    border-color: #2c2c2c;
}

.dark .bs11-a {
    border-color: #2c2c2c;
}

.dark .bs11-b {
    border-color: #2c2c2c;
}

.dark .bs-sep {
    border-color: #2c2c2c;
}

.dark .bs8-a {
    background: #0f0f0f;
}

.dark .bs-8 {
    border-color: #2c2c2c;
}

.dark .bs8-a span {
    color: #fff;
}

.dark .bs8-a b {
    color: #fff;
}

.dark .bs8-b {
    background: #0f0f0f;
}

.dark .bs9-m {
    background: #101010;
    border-color: #2c2c2c;
    color: #fff;
}

.bs-rol-block img {
    width: 65px;
    height: 65px;
    border: 7px solid #cfcfcf;
}

.dark .bs-rol-block img {
    border-color: #000;
}

.dark .bs9m-inf span {
    color: #cccccc;
}

.bs-12 {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    line-height: 12px;
    margin-top: -15px;
}

.bs12-a {
    border: 1px solid #c3c3c3;
    padding: 15px;
    height: 100px;
    width: 103px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.bs12-a b {
    color: var(--color-one);
}

.bs12-b {
    border: 1px solid #c3c3c3;
    padding: 10px;
    height: 110px;
    width: 230px;
    margin-left: 4px;
    display: flex;
}

.bs12txt {
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 10px;
    text-align: left;
}

.bs12txt b {
    color: var(--color-two);
}

.bs12-b img {
    width: 130px;
    height: 110px;
}

.bs12-c {
    border: 1px solid #c3c3c3;
    padding: 10px;
    height: 110px;
    width: 230px;
    margin-left: 4px;
    display: flex;
}

.bs12txt {
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 10px;
    text-align: left;
}

.bs12txt b {
    color: var(--color-two);
}

.bs12-c img {
    width: 130px;
    height: 110px;
}

.bs12-d {
    width: 70px;
    padding: 8px;
    border: 1px solid #c3c3c3;
    margin-left: 5px;
    font-size: 10px;
    height: 114px;
    overflow: auto;
}

.bs12-d b {
    color: var(--color-two);
}

.bs-13 {
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.bs13-a {
    display: flex;
    align-items: center;
    border: 1px solid #c3c3c3;
    padding: 7px;
    margin-left: 10px;
}

.bs13atxt {
    padding: 10px;
    height: 130px;
    text-transform: uppercase;
    width: 160px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.bs13atxt b {
    color: var(--color-one);
    font-size: 14px;
}

.bs13atxt i {
    color: var(--color-two) !important;
    padding-right: 6px;
}

.bs13-a img {
    width: 340px;
    height: 190px;
}

.bs13-b {
    border: 1px solid #c3c3c3;
    padding: 30px 20px;
    margin-left: 5px;
    height: 145px;
    width: 147px;
    font-size: 10px;
    text-transform: uppercase;
}

.bs13-b b {
    color: var(--color-one);
    font-size: 14px;
}

.bs13-b i {
    color: var(--color-two);
    font-style: initial;
    font-weight: 600;
}

.dark .bs12-b {
    border-color: #2c2c2c;
}

.dark .bs12-a {
    border-color: #2c2c2c;
}

.dark .bs12-c {
    border-color: #2c2c2c;
}

.dark .bs12-d {
    border-color: #2c2c2c;
}

.dark .bs13-a {
    border-color: #2c2c2c;
}

.dark .bs13-b {
    border-color: #2c2c2c;
}
